In [1]:
import pandas as pd
from collections import OrderedDict

### 필요한 리스트 만들기
- 지점번호 리스트 : n_list
- 월 리스트 : month_list
- 시간 리스트 : time_list

In [2]:
# 샘플 엑셀 파일 불러오기
df0 = pd.read_excel(f'seoul_traffic/2018/2018년 1월 서울시 교통량 조사자료.xlsx', sheet_name = f'2018년 1월')

In [3]:
# 지점번호에 해당하는 지점명을 딕셔너리로 저장
num_list = list(df0["지점번호"])
num_list = list(OrderedDict.fromkeys(num_list))

name_list = list(df0["지점명"])
name_list = list(OrderedDict.fromkeys(name_list))

dic = {}

for a in range(0, len(num_list)):
    dic[num_list[a]] = name_list[a]

In [4]:
# 지점번호 중복제거 후, 리스트로 만들기
num_list = list(df0["지점번호"])
num_list = list(OrderedDict.fromkeys(num_list))

# 데이터프레임의 인덱스에 쓰일 리스트 만들기
n_list = []
for a in num_list:
    if (a[0] == 'A') | (a[0] == 'D'):
        n_list.append(a)

In [5]:
# 데이터프레임 컬럼에 사용할 month_list
month_list = []
month_list.append('지점명')

for month in range(1, 13):
    month_list.append(f'{month}월')

# df1 컬럼에 연 합계, 연 평균 추가
month_list.append("연 합계")
month_list.append("연 평균")

In [6]:
# df 데이터 참조를 위한 time list
time_list = []
for i in range(0, 24):
    time_list.append(f'{i}시')

### 결과 값을 저장할 데이터프레임 df1 만들기

In [7]:
df1 = pd.DataFrame(columns = month_list, index = n_list)
df1

,지점명,1월,2월,3월,4월,5월,6월,7월,8월,9월,10월,11월,12월,연 합계,연 평균
A-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
D-50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D-51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D-52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D-53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 원본 데이터프레임 df의 월별 총 교통량 계산하기

In [8]:
# 디렉토리 참조 후 엑셀파일 읽어오기
def read_monthly_excel(month):
    df = pd.read_excel(f'seoul_traffic/2018/2018년 {month}월 서울시 교통량 조사자료.xlsx', sheet_name = f'2018년 {month}월')
    return df

In [9]:
for i in range(1, 13):
    # 월별 데이터 파일 불러오기
    df = read_monthly_excel(i)
    for spot_num in n_list:
        sub_total = 0
        year_total = 0
        df2 = df.loc[ df["지점번호"]==spot_num, time_list]
        for time in time_list:
            sub_total = sub_total + df2[time].sum()
    #     df1.loc[spot_num, "지점명"] = df.loc[spot_num, "지점명"]
        df1.loc[spot_num, f'{i}월'] = sub_total
        for j in range(1, 13):
            year_total = year_total + df1.loc[spot_num, f'{j}월']
        df1.loc[spot_num, "지점명"] = dic[spot_num]
        df1.loc[spot_num, "연 합계"] = year_total
        df1.loc[spot_num, "연 평균"] = year_total / 12

In [10]:
df1.to_csv("monthly_traffic_sum.csv", encoding="utf-8-sig")